body {
  font-family: Arial, sans-serif;
  background-color: #F8F7F6;
  margin: 0;
}

header {
  height: 100px;
  background-color: #FFCCBC;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  line-height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
}

header h1 {
  margin: 0;
}

header img {
  width: 6.5%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}


.weather-search,
.weather-display {
  background-color: #ffffff;
  width: 50%;
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info img {
  width: 100px;
}

.weather-display {
  margin-top: 40px;
}

.weather-display .main {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 80px
}

.weather-display .date {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px
}

.weather-display .temp {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px
}

.weather-display .main_temp {
  font-size: 35px;
  font-weight: bold;
  color: #696969;
}

.weather-display .min_max {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-display .temp_min {
  color: #30b9f0;
}

.weather-display .temp_max {
  color: #f0486c;
}

.weather-display span {
  font-size: 18px;
}

.weather-display .additional-info {
  display: flex;
  gap: 20px;
}

.weather-display .additional-info .one {
  display: flex;
  flex-direction: column;
}

.weather-display .additional-info .pair {
  display: flex;
  align-items: center;
  /* 縦方向の中央に揃える */
  gap: 10px;
  /* title と value の間にスペースを追加 */
}

.weather-display .additional-info .title {
  font-size: 22px;
  font-weight: bold;
  color: #696969;
  text-align: left;
}

.weather-display .additional-info .value {
  font-size: 22px;
  font-weight: bold;
  color: #696969;
  text-align: left;
}

.weather-display .additional-info .title img {
  width: 30px;
  margin-left: 10px;
}

.weather-search p {
  font-size: 20px;
  margin-bottom: 20px;
}

.weather-search .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-search {
  display: block;
}

.weather-search.hidden {
  display: none;
}

.weather-display {
  display: none;
}

.weather-display.active {
  display: block;
}



.current-location-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.current-location-btn:hover {
  color: #ffffff;
  background-color: #FCE1B3;
}

.weather-search .btn img {
  width: 28px;
  margin-right: 8px;
}

.location-input-container {
  position: relative;
}

.location-input {
  padding: 10px;
  width: 200px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.location-input:focus {
  outline: none;
  border-color: #F8B62B;
}

.search-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

#load_area {
  display: inline-block;
}
